PROJECT_NAME="SPE - Sistema de Ponto Eletrônico"
API_V1_STR="/api/v1"
TIMEZONE="America/Fortaleza"
SQLALCHEMY_DATABASE_URI="sqlite:///./spe.db"
SECRET_KEY="change_this_to_a_strong_secret_key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
FIRST_SUPERUSER="admin"
FIRST_SUPERUSER_PASSWORD="changethispassword"
EXCLUDED_EMPLOYEE_IDS=6
DEVICE_API_KEY="change_this_to_secure_device_key"
UPLOAD_DIR="uploads"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD=sua_senha_de_app
EMAIL_FROM=seu_email@gmail.com
EMAIL_TO=email_para_receber_backup@gmail.com
