PROJECT_NAME="SPE - Sistema de Ponto Eletrônico"
API_V1_STR="/api/v1"
TIMEZONE="America/Fortaleza"
SQLALCHEMY_DATABASE_URI="sqlite:///./spe.db"
SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
EXCLUDED_EMPLOYEE_IDS=
FIRST_SUPERUSER=""
FIRST_SUPERUSER_PASSWORD=
DEVICE_API_KEY=
UPLOAD_DIR="uploads"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
EMAIL_TO=
APP_VERSION=0.9.14
OPERATION_MODE= STANDALONE || CONSUMIDOR |EXPORTADOR|
CONSUMER_API_KEY=""
CONSUMER_SERVER_URL=""